# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfvars
terraform/*.tfvars.json
*.tfstate
*.tfstate.*

# Ansible
ansible/inventory.ini

# Logs
*.log

# Local overrides
.env
.vscode/
.idea/
*.swp

# K8s secrets (applied manually)
k8s/**/secrets.yaml
