# Terraform
**/.terraform/
terraform/*.tfvars
terraform/*.tfvars.json
*.tfstate
*.tfstate.*

# Logs
*.log

# Local overrides
.env
.vscode/
.idea/
*.swp

# K8s secrets (applied manually)
k8s/**/secrets.yaml
